<div class="login-container">

  <div class="login-card">

    <div class="logo">
      <div class="icon">⚡</div>
      <h2>SmartService</h2>
      <p>Welcome back 👋</p>
    </div>

    <form (ngSubmit)="login()">

      <input
        type="text"
        placeholder="Email"
        [(ngModel)]="email"
        name="email"
        required
      />

      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="password"
        name="password"
        required
      />

      <button type="submit">Login</button>

    </form>

    <div class="footer">
      <span>Forgot password?</span>
    </div>

  </div>

</div>
