<div class="bookings">

<h2>Services</h2>

<div *ngFor="let s of services">

  <div class="card">
    <h3>{{s.name}}</h3>
    <p>{{s.description}}</p>
    <p>Category: {{s.category}}</p>
    <p>Price: {{s.price}}</p>
    <p>Rating: ⭐ {{s.rating}}</p>
  </div>

  <button (click)="delete(s.id)">Delete</button>

  <button (click)="openModal(s)">
    Reserve
  </button>

</div>
<div class="modal" *ngIf="showModal">

  <div class="modal-content">

    <h2>Reservation</h2>

    <p>Service : {{selectedService?.name}}</p>

    <button (click)="confirmReservation(selectedService)">
      Confirm
    </button>

    <button (click)="closeModal()">
      Close
    </button>

  </div>

</div>
</div>
